input, select, textarea {
    display: block;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: auto;
}

/*Submission Form*/
#submitForm {
    box-sizing: border-box;
    width: 75%;
    margin: auto;
    padding: 50px;
}

input[type=text] {
    box-sizing: border-box;
    width: 50%;
    padding: 10px 20px;
    margin: 8px 0;
}

textarea {
    box-sizing: border-box;
    width: 75%;
    height: 400px;
    
    margin: 8px 0;

    border-style: solid;
    border-style: 2px;
}


/*Main Navigation Bar*/
#mainNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
}

#mainNav ul li {
    flex: 1;
}

#mainNav ul li a {
    display: block;
    height: 40px;
    line-height: 40px;

    background: pink;

    /*Text*/
    color: black;
    text-align: center;
    text-decoration: none;
}

#mainNav ul li a:hover {
    background: deeppink;
    color: black;
}

footer {
    display: block;
    height: 40px;
    line-height: 40px;

    background: pink;
    color: black;
    text-align: center;
    text-decoration: none;
}

.navContainer {
    padding: 0 15px;
}

#submitSection {
    box-sizing: border-box;
    width: 75%;
    margin: auto;
    padding: 50px;
    display: grid;

    grid-column-gap: 50px;
    grid-row-gap: 50px;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 150px;
}

.letter {
    background: goldenrod;
    transition: 0.5s;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;

    width: 100%;
    height: 100%;
}

.letter:hover {
    transform: scale(1.5);
    background: lightyellow;
}