header, footer {
    /* box-sizing: border-box; */
    padding: 25px;

    max-width: 1200px;
    min-width: 800px;
    margin: auto;

    text-align: left;
    
    background-color: #CCCCCC;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
    color: #763240;
}

h4 {
    font-size: 1em;
    color: #763240;
}

article {
    width: 700px;
    margin: auto;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

article p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5em;
}

main {
    /* box-sizing: content-box; */
    margin: auto;
    justify-content: center;
    max-width: 1200px;
    min-width: 800px;
    padding: 25px;
    
    background-color: #F4F4F4;
}

nav ul {
    list-style-type: disc;
    margin: 0;
    padding: 0;

    margin-left: 1em;
}

nav ul li a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #477282;

    font-weight: 700;
    line-height: 1.5em;
    font-size: 1.25em;
}

nav ul li a:hover {
    text-decoration: underline;
    color: darkblue;
}

main nav ul {
    text-align: center;
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

#jumpTo ul{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 25px;
}

#jumpTo ul li{
    text-align: left;
}

main img {
    display: block;
    margin-left: auto;
    margin-right: auto;

    /* Auto resizing for image. */
    max-width: 100%;
    height: auto;

    transition: transform .2s;
}

img:hover {
    transform: scale(1.5);
}

article p {
    display: block;
}

footer {
    text-align: center;
}

footer p {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5em;
    color: black;
}

footer a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5em;
    color: black;
}

footer a:hover {
    text-decoration: underline;
    color: darkblue;
}

.container {
    box-sizing: border-box;

    /**Using Flexbox**/
    display: flex;
    flex-direction: row;

    /**Align centers all the content**/
    justify-content: center;
    /**Align Top**/
    align-items: flex-start;
    align-content: center;

    /**Centers the container**/
    margin: auto;
    max-width: 1200px;
    min-width: 800px;

    background-color: white;
    
    padding: 25px;
}

.container nav {
    box-sizing: border-box;

    width: 25%;
    background-color: #EEEEEE;

    padding: 25px;
    margin: 25px;
}

/* @media only screen and (min-width: 800px) {
    .container {
        overflow: auto;
        white-space: nowrap;
    }
} */